
##################################
#      Applicant Data Sheet      #
##################################

NAME: {{ item['value']['First name'] }} {{ item['value']['Last name'] }}
AGE: {{ item['value']['Age'] }}
EDUCATION LEVEL: {{ item['value']['Education level'] }} Degree



##################################